.home_nav_div {
  background: #0d0024;
}

/* 659DBD */

.logo_navbar{
  color: #fff !important;
}

.home_nav_div{
  position: fixed;
}

.nav_item_name {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  font-style: normal;
  line-height: 26px;
}

.login_btn {
  margin-right: auto;
  margin-top: 0px;
}

.nav-link {
  padding: 30px !important;
}

.nav_item_div {
  margin-left: auto;
}