.footer_container_fluid{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/public/images/home/footer.jfif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px;
}
.footer_title{
    font-weight: 800;
    font-size: 30px;
    opacity: 0.9;
    color: #fff;
    font-family: 'Baloo Tamma 2';
}
ul,li{
    color: rgb(255, 255, 255);
    padding: 0px;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.9;
    font-family: 'Baloo Tamma 2';
}
li{
    list-style: none;
}
.social_icon{
    font-size: 25px;
}
.icon_header{
    opacity: 0.7;
    font-size: 18px;
}
.map{
    width: 100%;
    height: 150px;
}